*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"poppins","sans-serif";
}
body{
    background-color:rgb(123, 62, 228);
    background:linear-gradient(to right,#e2e2ee,#c9d6c9);
}
.container{
background:#fff;
margin:50px auto;
padding:1.5rem;
width:500px;                        
border-radius: 10px;
box-shadow:0 10px 10px rgba(0, 0, 1,0.9);
}
form{
margin: 0 2rem;
}
.form-title{
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    padding: 1.3rem;
    margin-bottom: 0.4rem;
}
input{
    color:inherit;
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #888080d3;
    padding-left:1.5rem;
    font-size: 15px;
}
.input-group{
    padding:1% 0;
    position: relative;
}
.input-group i{
position: absolute;
color:black;
}
input:focus{
    background-color: transparent;
    outline: transparent;
    border-bottom: 2px solid hsl(231, 82%, 40%);
}

.recover{
    text-align: right;
    font-size: 1rem;
    margin-bottom: 1rem;
}
.recover a{
   
    text-decoration: none;
    color:rgb(59, 192, 199);
}
.recover a:hover{
color: #25a3af;
text-decoration: underline;
}
.btn{
    font-size: 1.1rem;
    padding: 8px 0;
    border-radius: 5px;
    outline: none;
    border: none;
    width: 100%;
    background-color: #50b8d5;
    color: white;
    transition:0.7s;
    cursor: pointer;
}
.btn:hover{
background-color: rgb(20, 12, 88);
}
.or{
    font-size: 1.1rem;
    margin-top:0.5rem;
    text-align: center;
}




.links{
    display: flex;
    justify-content: space-around;
    padding: 0 4rem;
    margin-top:0.9rem;
    font-weight: bold;
}
button{
    color: #42acc6;
    border: none;
    background-color: transparent;
    font-size: 1rem;
    font-weight: bold;
}
button:hover{
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}